
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Image Preloader</title>
    <link rel="stylesheet" href="\stylesheets\style.css">
    <link rel="stylesheet" href="\stylesheets\style.css">
    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>


<div class="container"> 
<form id="formulario"  action="/guardar" method="POST" enctype="multipart/form-data">
<div id="form"  class="box drop">
    <div id="box_input" class="box_input drop">
  <div>

  <svg class="box__icon" xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 50 43"><path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"></path></svg>  
  </div>
      
      <label> <strong class="click">Selecciona un archivo </strong> <span>o arrastralo hasta aqui</span> </label>
      
    </div>

      
      

</div>
   <br>
    First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br>
  Color:<br>
  <input type="text" name="color" value="negro">
  <br>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female" checked> Female<br>
  <input type="radio" name="gender" value="other"> Other
  <br>
  <input type="checkbox" name="vehicle2" value="Car" checked> I have a car
  <br>
  <input type="checkbox" name="vehicle1" value="Bike"> I have a bike
  <br>
  {{!-- <input type="file" name="planos" id="plano" accept="image/*" multiple> --}}
  <br> <br>
    <div class="btns">
      <button type="submit" id="submit" class="movebtn">Submit</button> 
    </div>
</form>
   
</div>
<br>

<script src="\javascripts\indes.js" type="module" ></script>


  </body>
</html>

