body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



/* Codigo para el preloader */
 /* .imagenes{
  width: 100%;
} */

.movebtn{
  background-color: white;
  border: 1px solid #0bd175;
  border-radius: 15px;
  padding: 10px;
  color: #0bd175;
  /* position: absolute; */
  left: 200px;
}

.movebtn:hover{
background-color: #0bd175;
color: white;
border: 1px solid white;
}

/* .btns{
display: flex;

}  */
/* 
.images-preloaders{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
height: 700px;
overflow: auto;
gap:15px;
}

.images-loader{
border: 5px solid white;
width: 90%;
box-shadow: 3px 9px 15px 4px #00000069;
border-radius:15px;
}

.image-options{
position: relative;
}





.butn:hover {
background: #3cb0fd;
text-decoration: none;
}


.button-wrapper {
position: relative;
width: 150px;
text-align: center;
}

.button-wrapper span.label {
position: relative;
z-index: 0;
display: inline-block;
width: 100%;
background: #4285f4;
cursor: pointer;
color: #fff;
padding: 15px 5px;
text-transform:uppercase;
font-size:15px;
}

#files {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
} */

/* Estilos para el dropzone */

.box{
font-size: 1.25rem;
background-color: #fff;
border: 2px solid #33CCFF;
position: relative;
padding: 54px 54px;
display: flex;
justify-content: center;
align-items: center;
}

.drop{
cursor: pointer;
} 

.box_input{
text-align: center;
}

.box__icon{
margin-bottom: 15px;
}

.click:hover{
color: #58D5FF
}

.dragItem{
position: relative; 
display: inline-block;
vertical-align: top;
margin: 16px;
background: #fff;
min-height: 100px;
border-radius: 20px;
overflow: hidden;
width: 120px;
height: 120px;
}

.images-loader{
width: 100%;
height: 100%;
}

.delete{
border-radius: 50%;
color: #fff;
background-color: #ff000087;
border: none;
font-size: 10px;
padding: 10px 12px;
}

.delete:hover{
  background-color: #fff;
  color:red;
}


.boton-borrar{
position: absolute;
z-index: 1;
}

